{% extends "layout.html" %}

{% block title %}
Subscribed
{% endblock %}

{% block main %}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-10 col-lg-8">
                <div class="card" style="border-radius: 1rem; max-width: 30rem; margin: 0 auto;">
                    <div class="row g-0">
                        <div class="d-flex align-items-center">
                            <div class="card-body p-5 p-lg-5 text-black">
                                <div class="d-flex mb-3 pb-1">
                                    <h1 class="fw-bold mb-0 font2">Success!</h1>
                                </div>
                                <p>You've signed up for the newsletter.</p>
                                <a href="#!" class="small text-muted">Created with</a>
                                <a href="/"><span class="fw-bold mb-0 font2 text-black">Arcane</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}